.wrapper {
  margin: 10px auto;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.card {
  width: 200px;
  height: 250px;
  background-color: rgba(222, 184, 135, 0.658);
  border-radius: 10px;
  margin-bottom: 10px;
}